<header>
    <nav class="navbar navbar-expand-lg navbar-dark my-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link {% if request.resolver_match.url_name == "home" %}active{% endif %}" href="{% url 'home'%}">Home</a>
                <a class="nav-item nav-link {% if request.resolver_match.url_name == "featured" %}active{% endif %}" href="{% url 'featured'%}">Featured</a>
                <a class="nav-item nav-link {% if request.resolver_match.url_name == "frontend" %}active{% endif %}" href="{% url 'frontend'%}">Front End</a>
                <a class="nav-item nav-link {% if request.resolver_match.url_name == "backend" %}active{% endif %}" href="{% url 'backend'%}">Back End</a>
                <a class="nav-item nav-link {% if request.resolver_match.url_name == "blog" %}active{% endif %}" href="{% url 'blog'%}">Blog</a>
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link {% if request.resolver_match.url_name == "add_tag" %}active{% endif %}" href="{% url 'add_tag'%}">Add Blog Tag</a>
                    <a class="nav-item nav-link {% if request.resolver_match.url_name == "add_tag" %}active{% endif %}" href="{% url 'new' %}">New Post</a>
                    <a class="nav-item nav-link {% if request.resolver_match.url_name == "admin" %}active{% endif %}" href="/admin/">Admin</a>
                    {% comment %} <a class="nav-item nav-link {% if request.resolver_match.url_name == "grocery_api" %}active{% endif %}" href="{% url 'grocery_api'%}">Grocer API</a> {% endcomment %}


                {% endif %}
            </div>
        </div>
    </nav>
    <div class="top-pad"></div>
</header>