body {
    box-sizing: border-box;
}

.my-card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.my-card-text {
    height: 80px;
}

.nav {
    position:fixed;
    top:0;
    z-index: 20;
}

.tab-pane {
    padding-top: 2rem;
}