{% comment %} {% load fontawesome_5 %} {% endcomment %}
{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Janell Huyck</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <!-- CSS and Favicon links-->
        <link rel="stylesheet" href="{% static 'projects.css' %}">
        <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/png">
    </head>
    
    <body class="container-fluid pt-3">
        <header>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top my-nav" style="background-color: #000020;">
  <a class="navbar-brand" href="{% url 'home'%}">Janell Huyck</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link {% if request.resolver_match.url_name == "home" %}active{% endif %}" href="{% url 'home'%}">About</a>
      <a class="nav-item nav-link {% if request.resolver_match.url_name == "featured" %}active{% endif %}" href="{% url 'featured'%}">Featured</a>
      <a class="nav-item nav-link {% if request.resolver_match.url_name == "frontend" %}active{% endif %}" href="{% url 'frontend'%}">Front End</a>
      <a class="nav-item nav-link {% if request.resolver_match.url_name == "backend" %}active{% endif %}" href="{% url 'backend'%}">Back End</a>
    </div>
  </div>
</nav>
<div class="top-pad"></div>

        </header>
                {% block content %}
                {% endblock %}
        
    </body>
</html>