{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid p-4">
        <div class="d-flex" >
            <div class="p-2 column-med">
            <h1 class="p-2 column-med text-center">Janell Huyck</h1>
                <p>{{intro1}}</p>
                <p>{{intro2}}</p>
            </div>
            <hr>
            <div class="container skills text-center f-6">
                    {% for skill in skills %}
                        {{skill}}
                    {% endfor %}
            </div>
        </div>
        <hr>
    </div>
    <p>{{intro3}}</p>
    <h2>JavaScript Projects</h2>
    <div class="card-group row">
        {% for project in javascript_projects %}
                <div class="card p-3 m-3 border border-secondary rounded column-med" style="width: 18rem;">
                    <img class="card-img-top" src="{{ project.picture_1 }}" alt="{{project.title}}" style="height: 300px">
                    <div class="card-body">
                        <h5 class="card-title">{{project.title}}</h5>
                        <p class="card-text my-card-text">{{project.synopsis}}</p>
                        <div>
                            <span class="float-left">
                                <a href="{% url 'project_detail' project.slug %}" class="btn btn-primary">
                                    More Details</a>
                            </span>
                            <span class="float-right">
                                <a href="{{ project.site_url}}" target="_blank" class="btn btn-primary ">
                                See Live</a>
                            </span>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
        <h2>Python Projects</h2>
        <div class="card-group row">
        {% for project in django_projects %}
                <div class="card p-3 m-3 border border-secondary rounded column-med" style="width: 18rem;">
                    <img class="card-img-top" src="/{{ project.picture_1 }}" alt="{{project.title}}" style="height: 300px">
                    <div class="card-body">
                        <h5 class="card-title">{{project.title}}</h5>
                        <p class="card-text my-card-text">{{project.synopsis}}</p>
                         <div>
                            <span class="float-left">
                                <a href="{% url 'project_detail' project.slug %}" class="btn btn-primary">
                                    More Details</a>
                            </span>
                            <span class="float-right">
                                <a href="{{ project.site_url}}" target="_blank" class="btn btn-primary ">
                                See Live</a>
                            </span>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    <div>
        <br>
    <br>
    <br>
{% endblock %}

