{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
        <div class="container-fluid p-4 d-flex flex-row-reverse justify-content-around">
            <img class = "img-fluid profile-image background-lt" src={{profile_image_url}}>
          
            <div class="p-3 align-items-center d-flex flex-column column-med p2 justify-content-around" >
                    <h1 class="portfolio-text p-2">{{intro1}}</h1>
                    <h2 class="portfolio-text p-2">{{intro2}}</h2>
            </div>
        </div>
    </div> 
    

{% endblock %}