{% extends 'base.html'%}
{% load static %}


{% block content %}
    <div class="d-flex flex-wrap">
                <div class="w-25 p-3">
                    <h1>{{project.title}}</h1>
                    <p>{{project.languages}}</p>
                    <p>{{project.synopsis}}</p>
                    <a href="{% url 'home' %}" class="btn btn-primary float-left" >Home</a>

                    <a href="{{ project.site_url}}" target="_blank" class="btn btn-primary float-right ">
                    See Live</a>
                                
                </div>
                <img class="d-block w-25 p-3" src="/projects/{{ project.picture_1 }}" alt="{{project.title}} image 1">
                <img class="d-block w-50 p-3" src="/projects/{{ project.picture_2 }}" alt="{{project.title}} image 2">
                <img class="d-block w-50 p-3" src="/projects/{{ project.picture_3 }}" alt="{{project.title}} image 3">
                <img class="d-block w-50 p-3" src="/projects/{{ project.picture_4 }}" alt="{{project.title}} image 4">
    </div>
    <p>{{project.description | linebreaksbr}}</p>
    
              
{% endblock %}
