<div class="card p-3 m-3 border border-secondary rounded col-md-3 bg-light" >

        <h5 class="card-title">{{post.title}}</h5>
        {% if post.header_image %}
            <img class="card-img-top" src="{{ post.header_image.url }}" alt="{{post.header_image_text}}">
        {% endif %}
        
        <div class="card-body">
            <p class="card-text my-card-text">{{post.snippet|safe}}</p>
            <div class="date">
                {{ post.published_date }}
            </div>
            <p>
                <a href="{% url 'detail' pk=post.pk %}" class="btn btn-primary">
                    More...</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'edit' pk=post.pk%}" class="btn btn-primary">Edit Post</a>
                {% endif %}
            </p>    
            <h6 class="card-subtitle">Tags:</h6>
            {% for tag in post.tag.all %}
                <a href="{% url 'tag' tag=tag%}"><em>{{tag}}</em></a>
            {% endfor %}
            <img src="{{post.header_thumbnail.url}}" alt={{post.header_thumbnail_text}}>
        </div>
    </div>