<div class="card p-3 m-3 border border-secondary rounded col-md-5 bg-light" >

        <div class="date">
            {{ post.published_date }}
        </div>
        {% if post.picture_1 %}
            <img class="card-img-top" src="../{{ post.picture_1 }}" alt="{{post.picture_1_text}}">
        {% endif %}
        
        <div class="card-body">
            <h4 class="card-title">{{post.title}}</h4>
            <h5 class="card-subtitle">Tags:</h5>
            {% for tag in post.tag.all %}
                <a href="{% url 'tag' tag=tag%}"><em>{{tag}}</em></a>
            {% endfor %}
            <p class="card-text my-card-text">{{post.snippet|safe}}</p>
            <div class="d-flex justify-content-around">
                <span>
                    <a href="{% url 'detail' pk=post.pk %}" class="btn btn-primary">
                        More...</a>
                </span>    
            </div>
            {% if user.is_authenticated %}
                <a href="{% url 'edit' pk=post.pk%}" class="top-menu">Edit Post</a>
            {% endif %}
        </div>
    </div>