body {
    box-sizing: border-box;
    background-image: url('./img/analytics-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-image {
    background-color: gainsboro;
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
    object-fit: cover;
    overflow: hidden;
}

.portfolio-text {
    color: black;
    background-color: gainsboro;
}

.card {
    background-color: gainsboro;
}
.my-card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-card-text {
    height: 80px;
}

.nav {
    position:fixed;
    top:0;
    z-index: 20;
    background-color:#000020;
}

.tab-pane {
    padding-top: 2rem;
}