body {
    box-sizing: border-box;
    background-image: url('./img/analytics-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-image {
    background-color: gainsboro;
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
    object-fit: cover;
    overflow: hidden;
}

.portfolio-text {
    color: black;
    background-color: gainsboro;
}

.card {
    background-color: gainsboro;
}
.my-card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-card-text {
    height: 80px;
}

.active {
    font-size:x-large ;
}

.nav-link{
    align-self: center;
    align-content: center;
}

.my-nav {
    opacity: 100%;
    z-index: 30;
    background-color: #000020;
}

.top-pad {
    padding: 2rem;
}

.tab-pane {
    padding-top: 2rem;
}

.nav-hamburger {
    color: white;
}