body {
  --bg-accent-color-dark:hsl(27, 100%, 50%);
  --bg-accent-color-med:hsl(27, 100%, 60%);
  --bg-accent-color-lt: hsl(27, 100%, 72%);
  box-sizing: border-box;
  background-image: url('./img/backgrounds/tangarine-cream-diagonal-fade.jpg');
  background-repeat: no-repeat;
  background-size: cover;
};


.profile-image {
    background-color: gainsboro;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.portfolio-text {
    color: black;
}


.active {
    font-size:x-large ;
}


.nav-link{
    align-self: center;
    align-content: center;
}

.my-nav {
    background-color:var(--bg-accent-color-med) ;
    position: fixed;
    left: 0px;
    top: 0px;
    opacity: 100%;
    z-index: 30;
    width: 100vw;
    margin: 0;
}

.top-pad {
    padding: 2rem;
}

.tab-pane {
    padding-top: 2rem;
}

.nav-hamburger {
    color: white;
}